
*.aux

documentation_hu/3d_scanner\.log

*.out

documentation_hu/3d_scanner\.synctex\.gz

*.toc

documentation_hu/3d_scanner\.pdf

matlab_files/calibration_images/

matlab_files/scan_object\.asv

presentation_hu/~\$prezi_14het\.pptx

*.asv
